<div>
  <h1 style="text-align:center">Sign Up</h1>
  Email : <input type="text" [(ngModel)]="email" class="form-control" placeholder="Enter your Email"/><br/>
  Name : <input type="text" [(ngModel)]="name" class="form-control" placeholder="Enter your Name"/><br/>
  Password : <input type="password" [(ngModel)]="password" class="form-control" placeholder="Enter your Password"/><br/>
  Image : <input type="text" [(ngModel)]="image" class="form-control" placeholder="Enter your image path"/><br/>
  <button class="btn btn-primary" (click)="signUpSubmit()">Sign Up</button>
</div>
