<app-navbar></app-navbar>
<!-- <app-login></app-login> -->

<!-- will be in app.component.ts -->
<!-- <app-product [product]="abc"></app-product>  -->

<!-- will be in product.component.ts -->
<!-- <app-product [product]="{ name:'Shubham',price:'1000',description:'This is from product.component.ts'}"></app-product> -->

<!-- <app-product name="Shubham verma" price="1000" description="This is from product.component.ts and as a attribute"></app-product> -->



<!-- <app-signup></app-signup> -->
<!-- <app-carousel></app-carousel> -->

<!-- product js file usage -->
<!-- <div class="row">
    <app-product *ngFor="let eachProduct of products" [product]="eachProduct" class="col-md-3"></app-product>
</div> -->


<!-- <div class="row">
        <app-post *ngFor="let item of posts" [postList]="item" class="col-md-3"></app-post>
</div> -->

<router-outlet></router-outlet>